@model VMMAPI.Models.IE

@{
    Layout = null;
    //var store = ViewBag.IE;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>In Progress VMM Portal</title>
    <!-- Bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
    <!-- Propeller css -->
    <link href="../VmmAssets/css/propeller.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css" rel="stylesheet">
    <!-- Propeller date time picker css-->
    <link rel="stylesheet" type="text/css" href="../components/datetimepicker/css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="../components/datetimepicker/css/pmd-datetimepicker.css" />


    <!-- Custom css -->
    <link href="../VmmAssets/css/style.css" rel="stylesheet">
    <link href="../VmmAssets/css/responsive.css" rel="stylesheet">
    <link href="../VmmAssets/css/propeller.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-fixed-top pmd-navbar pmd-z-depth">
            <div class="container-fluid">
                <input type="hidden" id="taskidhidden" />
                <input type="hidden" id="AssetsIdHidden" />
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button class="pmd-ripple-effect navbar-toggle pmd-navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="javascript:void(0);" class="navbar-brand navbar-brand-custome">
                        <img src="~/VmmAssets/images/team_blue_logo.svg" alt="team blue logo"><span class="logo-txt">Project Governance</span>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse pmd-navbar-sidebar">
                    <div class="dropdown pmd-dropdown pmd-user-info pull-right">
                        <a href="javascript:void(0);" class="btn-user dropdown-toggle media" data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
                            <div class="media-left">

                                @using (Html.BeginForm("Logout", "VMMAssign", FormMethod.Post))
                                {
    <!-- form goes here -->



                                    <input type="submit" value="" class="logout-icon" />


                                }
                            </div>

                        </a>

                    </div>
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="pmd-ripple-effect" href="@Url.Action("AssignTaskNew1", "VMMAssign")" ;">
                                <i class="material-icons">
                                    add
                                </i> <span>Assign New</span>
                            </a>
                        </li>
                        <li>
                            <a class="pmd-ripple-effect " href="@Url.Action("ShowTransactionDetails", "VMMAssign")" ;">
                                <span>In Progress</span>
                            </a>
                        </li>
                        <li>
                            <a class="pmd-ripple-effect" href="@Url.Action("ViewSummaryReport", "VMMAssign")" ;">
                                <span>Summary</span>
                            </a>
                        </li>
                        <li>
                            <a class="pmd-ripple-effect" href="@Url.Action("ViewDashBoardReport", "VMMAssign")" ;">
                                <span>Detailed Report</span>
                            </a>
                        </li>
                        <li>
                            <a class="pmd-ripple-effect active" href="@Url.Action("AddIE", "IE")" ;">
                                <span>IE</span>
                            </a>
                        </li>
                        <li>
                            <a class="pmd-ripple-effect" href="#" ;">
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="pmd-ripple-effect" href="#" ;">
                                <span>Customer Report</span>
                            </a>
                        </li>
                        <li>
                            <a class="pmd-ripple-effect" href="#" ;">
                                <span>Engineer Report</span>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div class="pmd-sidebar-overlay"></div>
        </nav>
        <!-- Nav menu with user information -->
    </header>
    <div>
        @foreach (System.Data.DataRow dr in ViewBag.IE.Rows)
        {

            using (Html.BeginForm("UpdateIE", "IE", FormMethod.Post, new { @Id = "formid" }))
            {
                @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="form-horizontal top-m">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <div class="form-group pmd-textfield col-md-12 nos">
                <div class="cmn-qa-box">
                    @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "" })
                    <textarea type="text" name="Question" class="form-control">@dr.ItemArray[1]</textarea>
                        @*<input type="text" value="@dr["Question"]" namse="Question" />*@
                </div>
            </div>
            @Html.HiddenFor(m => m.Id)
            <div class="form-group pmd-textfield col-md-12 nos">
                <div class="cmn-qa-box">
                    @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "" })
                    <textarea type="text" name="Answer" class="form-control">@dr.ItemArray[2]</textarea>
                        @* <input type="text" value="@dr["Answer"]" name="Answer" />*@
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0">
                <div class="add-to-ie">
                    <input type="submit" value="Update" />
                </div>
            </div>

        </div>
    </div>
        }

        }

    </div>

</body>
</html>
